export POSTGRES_DATABASE='nextjs'
export POSTGRES_USER='nextjs'

layout_postgres() {
	export PGDATA="$(direnv_layout_dir)/postgres"
	export PGHOST="$PGDATA"

	if [[ ! -d "$PGDATA" ]]; then
		initdb
		cat >> "$PGDATA/postgresql.conf" <<-EOF
			listen_addresses = ''
			port = 5432
			unix_socket_directories = '$PGHOST'
			# shared_preload_libraries = 'pg_search,vector'

		EOF

    # Creates app's user and set it as default owner of the application database
		echo "CREATE USER ${POSTGRES_USER};" | postgres --single -E postgres
    echo "CREATE DATABASE ${POSTGRES_DATABASE} OWNER ${POSTGRES_USER};" | postgres --single -E postgres
		echo "GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DATABASE} TO ${POSTGRES_USER};" | postgres --single -E postgres
		echo "ALTER ROLE ${POSTGRES_USER} WITH CREATEDB;" | postgres --single -E postgres
		echo "ALTER ROLE ${POSTGRES_USER} WITH SUPERUSER;" | postgres --single -E postgres
	fi

  export DATABASE_URL="postgresql://${POSTGRES_USER}@localhost/${POSTGRES_DATABASE}?host=${PGHOST}"
}

use flake
layout_postgres
layout node
